.movie-slide {
  color: rgb(255, 255, 255);
  position: relative;
  margin-top: 50px;
}

.movie-slide__controls {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
}

.movie-slide__button {
  border: none;
  background: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
