.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.movie-list > div {
  height: 400px;
  margin-left: unset;
}

@media all and (max-width: 562px) {
  .movie-list > div {
    height: 450px;
  }
}
