.dropdown {
  width: 150px;
  position: relative;
}

.dropdown__current-option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border: none;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
}

.dropdown__current-option--active {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.dropdown__option-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 100;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown__option-item {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown__option-item:hover {
  background: rgb(120, 199, 187);
}
