.movie-card {
  min-width: 250px;
  height: 330px;
  background-position: center;
  background-size: cover;
  margin-left: 24px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.movie-card:first-child {
  margin-left: 0;
}

.movie-card__rank {
  position: absolute;
  right: 8px;
  bottom: 0;
  font-size: 176px;
  color: rgba(173, 172, 154, 0.8);
}

.movie-card__info {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
  opacity: 0;
  transition: all 1s;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 8px;
}

.movie-card__info:hover {
  opacity: 1;
}

.movie-card__adult {
  display: inline-block;
  padding: 4px 8px;
  background: rgba(179, 87, 96, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.movie-card__adult--all {
  background: rgba(0, 140, 86, 1);
}

.movie-card__genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 14px;
}

.movie-card__title {
  font-size: 24px;
}

.movie-card__stats {
  display: flex;
  gap: 16px;
}

.movie-card__stats p {
  margin: 0;
}

.movie-card__stats p > span {
  margin-left: 5px;
}

@media all and (max-width: 800px) {
  .movie-card {
    min-width: 220px;
  }
}
