.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loading-spinner div {
  width: 150px;
  height: 150px;
  border: 5px solid rgba(179, 87, 96, 1);
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner p {
  font-weight: bold;
  color: rgba(179, 87, 96, 1);
}

@media all and (max-width: 627px) {
  .loading-spinner div {
    width: 100px;
    height: 100px;
  }
}
