.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(179, 87, 96, 1);
  padding: 16px;
}

.not-found__icon {
  font-size: 80px;
}

.not-found__message {
  text-align: center;
  font-size: 24px;
}

.not-found__go-to-home {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.not-found__go-to-home:visited {
  color: rgba(255, 255, 255, 1);
}
